.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-computer {
	font-size:(612.01/10)*1rem;
	width:(612.01/612.01)*1em;
}
.icon-cpu {
	font-size:(464/10)*1rem;
	width:(464/464)*1em;
}
.icon-gamepad {
	font-size:(438.95/10)*1rem;
	width:(438.95/438.95)*1em;
}
.icon-laptop {
	font-size:(115.383/10)*1rem;
	width:(115.383/115.383)*1em;
}
.icon-microphone {
	font-size:(508.02/10)*1rem;
	width:(508.02/508.02)*1em;
}
.icon-mixer {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-monitor {
	font-size:(33/10)*1rem;
	width:(33/33)*1em;
}
.icon-photo-camera {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-router {
	font-size:(300/10)*1rem;
	width:(300/300)*1em;
}
.icon-smartphone-and-tablet {
	font-size:(269.13/10)*1rem;
	width:(269.13/269.13)*1em;
}
.icon-washing-machine-for-laundry {
	font-size:(473.631/10)*1rem;
	width:(473.631/473.631)*1em;
}
